table{
	text-align:center;
}
td{
	background-color: lightblue;
}
th{
	padding: 10px 20px 20px;
}
th[scope="col"] {
    background-color: gray;
    color: #fff;
}
th[scope="row"] {
    background-color: gray;
    color: #fff;
}
.periodic td.one{
	background-color: orange;
}
.periodic td.two{
	background-color: mediumorchid;
}
.periodic td.three{
	background-color: dodgerblue;
}
.periodic td.four{
	background-color: yellow;
}
.periodic td.five{
	background-color: limegreen;
}
.periodic td.six{
	background-color: moccasin;
}
@media (hover: hover) {
  a:hover {
    background: orangered;
	cursor: pointer;
  }
}